<!DOCTYPE html>
<html lang="ru">
    <head>
        <title><%- meta.title %></title>
        <script defer src="./js/index.js"></script>
    </head>
    <body>
        <main>
            <%- include(template, data); %>
        </main>
    </body>
</html>